.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.first-section {
}

.first-section h2 {
    padding-bottom: 20px;
    font-weight: 700;
}

.first-section p {
    padding-bottom: 40px;
}

.input-subscribe {
}

#input-type {
    width: 220px;
    height: 45px;
    color: gray;
    align-items: center;
    padding-left: 20px;
}

#subscribe-btn {
    width: 120px;
    height: 50px;
    color: gray;
    border-radius: 5px;
    background-color: black;
    border-color: grey;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
