.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 16px;
    max-width: 300px;
    margin: 10px;

}
.imageContainer:hover {
    transform: scale(1.05);
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.titleContainer {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

